@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container text-center my-5">
    <div class="alert alert-danger p-5 shadow-lg rounded">
        <h1 class="display-4">Payment Failed</h1>
        <p class="lead">Unfortunately, there was an issue processing your payment. Please try again.</p>
        <hr>
        <p class="mb-4">Click below to return to the product catalog or contact support if you need assistance.</p>
        <a class="btn btn-danger btn-lg" asp-controller="Books" asp-action="Index">Return to Products</a>
    
    </div>
</div>
